* {
    margin: 0;
    padding: 0;
}

 .destinos {
  display: flex;
  align-items:self-scare;
  justify-content: space-between;
  padding: 40px;
}

.texto-destinos {
  width: 60%;
  font-family: 'Montserrat', sans-serif;
  color: #453962;
}

.slider {
  display: flex;
  width: 700px;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.slides {
  display: flex;
  width: 400%; 
  height: 100%;
}

.slides img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity:8;
  transition: .5s ease;
}
.slides img:hover {
  cursor: crosshair;
  width: 200px;
  opacity: 1;
  filter: contrast(120%);
}