*{
    margin: 0;
    padding: 0;
}
menu {
    height: 150px;
    display: flex;
    flex-direction: row;
}
.menu-izquierda {
width: 40%;
background-color:rgb(251, 73, 3);
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.menu-izquierda img{
    width: 190px;

}


.menu-derecha {   
width: 75%;
background-color:rgb(17, 13, 85);
display: flex;
flex-direction: row;
align-items: center;
justify-content: right;
padding-right: 50px;
}

.menu-derecha a {
    text-decoration: none;
    color: rgb(247, 244, 244);
    font-style: italic;
    font-size: 20px;
    padding-left: 20px;
}

.menu-derecha a:hover {
    scale: 1.2;
    color:rgb(239, 82, 15);
}



/*cads inicio*/
.card-list{
background-color:rgb(251, 73, 3);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;
padding: 30px 0 30px 0;

}


.card-item {
    width: 27%;
    height: auto;
    border: solid 1px black;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    background-color: beige;

}

.card-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-item img{
    width: 100%;

}

.card-info{ 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
}


.card-title{
    font-style: italic;
color: rgb(60, 33, 166);
font-size: 25px;
font-weight: bold;
padding-bottom: 10px;
}

.card-desc{
    font-size: 16px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   padding: 0 10px 10px 10px;
}

.boton-cta{
display: flex;
flex-direction: row;
justify-content: end;
padding: 0 20px 0 20px;

}


.card-cta{
width: 70px;
background-color: rgb(59, 19, 120);
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 10px 0 10px 0;
text-decoration: none;
border: solid 2px black;
font-size: 12px;
}

.card-cta:hover{
   transform: scale(0.95);

}


@media (max-width: 768px) {
menu{
    background-color: transparent;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
}

.menu-izquierda {
width: 45%;
justify-content: center;
}


    .menu-derecha {
        display: none;
    } 
    
.menu-container{
    width: 15%;
    background-color: rgb(17, 13, 85);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-container .hamburger-icon {
   width: 35%;
   height: 25%;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container .hamburger-icon span{
 background-color: white;
 display: block;
 width: 100px;
 height: 4px;
 border-radius: 2px;
 justify-content: center;
}

.menu-derecha-open{
    padding:0;
    margin:0;
    background-color:rgb(36, 31, 131);
    width: 40%;
    height: auto;
    display: flex;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu-derecha a {
    font-size: 25px;
}
 
/*cads en mobile*/
.card-item {
    width: 90%;
    height: auto;
    border: solid 1px black;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
 }
}